{% extends 'base.html.twig' %}

{% block title %}订单提交成功
{% endblock %}

{% block body %}
	<div class="container mt-4">
		<div class="card">
			<div class="card-body text-center">
				<h1 class="card-title text-success mb-4">
					<i class="fas fa-check-circle"></i>
					订单提交成功！
				</h1>
				<p class="card-text">订单号:
					{{ order.id }}</p>
				<p class="card-text">订单金额: €{{ order.totalAmount }}</p>
				<p class="card-text">我们会尽快处理您的订单</p>
				<div class="mt-4">
					<a href="{{ path('app_shop') }}" class="btn btn-primary">继续购物</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
